/* Contenedor del login */
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    background-color: rgba(233, 236, 238, 0.8); /* Fondo blanco opaco */
    border-radius: 10px;
    border: 2px solid #070707;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Título */
  .login-container h2 {
    font-size: 24px;
    color: #060c11;
    margin-bottom: 20px;
  }
  
  /* Campos de entrada */
  .input-field {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #070707;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Botón de login */
  .btn {
    width: 100%;
    background: #0073e6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .btn:hover {
    background: #005bb5;
  }
  
  /* Enlace de registro */
  .login-container p {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .login-container a {
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-container a:hover {
    text-decoration: underline;
  }
  