/* Estilos generales */
body {
    background-image: url('/public/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-attachment: fixed;
  }
  
  
  /* logo */
  .logo {
    width: 100px; /* Ajusta el tamaño */
    height: auto;
    margin-right: 20px; /* Espaciado a la derecha */
  }