/* Contenedor general */
.content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(233, 236, 238, 0.8); /* Fondo blanco opaco */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Secciones de visión y misión */
  .vision, .mision {
    margin-bottom: 30px;
    padding: 20px;
    border-left: 5px solid #0073e6;
    background: #f0f8ff;
    border-radius: 5px;
  }
  
  .vision h2, .mision h2 {
    font-size: 24px;
    color: #004080;
  }
  
  .vision p, .mision p {
    font-size: 18px;
    color: #333;
    line-height: 1.5;
  }
  